# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives**
 - Python
 - R
 - SQL
 - Java

 ### Some of the popular languages that Data Scientists use are:
  1. Python
  2. R
  3. SQL
  4. Java

#### Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. NumPy
 3. Matplotlib
 4. Scikit-learn
 5. TensorFlow

 | Data Science Tools |
 |--------------------|
 |      Tableau       |
 |   Apache Spark     |
 |   Apache Hadoop    |

 ### Below are a few examples of evaluating arithmetic expressions in Python
 - 6*6
 - 4+3
 - 7-2

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
#  This will convert 200 minutes to hours by diving by 60
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours


minutes = 200
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

 ## Author
 Ahmed Waleed